<header>
    <nav>
        <div class="navlogo no_select">
            <h1>Dominion</h1>
        </div>
        <div class="navopc no_select">
            <a href="./index.html">Inicio</a>
            <a href="./batallas.html">Batallas</a>
            <a href="./civilizacion.html">Civilización</a>
            <a href="./programadores.html">Autores</a>
        </div>
    </nav>
</header>