<header>
    <nav>
        <div class="navlogo no_select">
            <img src="/img/logo.png" alt="logo">
            <h1>Dominion</h1>
        </div>
        <div class="navopc no_select">
            <a href="/">Inicio</a>
            <a href="/civilizaciones">Civilizaciones</a>
            <a href="/programadores">Autores</a>
        </div>
    </nav>
</header>