<main class="marmol ffijado linea">
    <section class="registros_batallas">
        <div class="cabecera">
            <h1 class="titulo_gold">Registros de Batallas</h1>
            <h2>Batallas jugadas: 831932</h2>
            <a href="/batallas" class="volver">&lt; Volver</a>
        </div>
        <div class="madera">
            <div class="poster">
                <h2>Batalla 1</h2>
                <p>asasasasas dadada dc</p>
                <p>adhadhadsadb ad</p>
                <p>adhadhadsadb ad</p>
                <p>adhadhadsadb ad</p>
                <p>adhadhadsadb ad</p>
                <a href="/informe" class="verdetalles">Ver detalles &gt;</a>
            </div>
        </div>
        <div class="madera">
            <div class="poster">
                <h2>Batalla 1</h2>
                <p>asasasasas dadada dc</p>
                <p>adhadhadsadb ad</p>
                <p>adhadhadsadb ad</p>
                <a href="/informe" class="verdetalles">Ver detalles &gt;</a>
            </div>
        </div>
        <div class="madera">
            <div class="poster">
                <h2>Batalla 1</h2>
                <p>asasasasas dadada dc</p>
                <p>adhadhadsadb ad</p>
                <p>adhadhadsadb ad</p>
                <a href="/informe" class="verdetalles">Ver detalles &gt;</a>
            </div>
        </div>
        <div class="madera">
            <div class="poster">
                <h2>Batalla 1</h2>
                <p>asasasasas dadada dc</p>
                <p>adhadhadsadb ad</p>
                <p>adhadhadsadb ad</p>
                <a href="/informe" class="verdetalles">Ver detalles &gt;</a>
            </div>
        </div>
        <div class="madera">
            <div class="poster">
                <h2>Batalla 1</h2>
                <p>asasasasas dadada dc</p>
                <p>adhadhadsadb ad</p>
                <p>adhadhadsadb ad</p>
                <a href="/informe" class="verdetalles">Ver detalles &gt;</a>
            </div>
        </div>
    </section>
</main>