<main class="civilizaciones marmol linea">
    <section class="cartel">
        <div class="cartel_contenido">
            <a href="/civilizacion">Civilización 1 Civilización 1 Civilización 1 Civilización 1</a>
        </div>
    </section>
    <section class="cartel">
        <div class="cartel_contenido">
            <a href="/civilizacion">Civilización 1</a>
        </div>
    </section>
    <section class="cartel">
        <div class="cartel_contenido">
            <a href="/civilizacion">Civilización 1</a>
        </div>
    </section>
    <section class="cartel">
        <div class="cartel_contenido">
            <a href="/civilizacion">Civilización 1</a>
        </div>
    </section>
    <section class="cartel">
        <div class="cartel_contenido">
            <a href="/civilizacion">Civilización 1</a>
        </div>
    </section>
    <section class="cartel">
        <div class="cartel_contenido">
            <a href="/civilizacion">Civilización 1111111111111111111111111111111111111111111</a>
        </div>
    </section>
</main>