<main class="marmol ffijado">
    <section>
        <h1>Autores</h1>
        <div>
            <h2>Héctor González</h2>
        </div>
        <div>
            <h2>Anjie Chen</h2>
        </div>
        <div>
            <h2>Ivan Muriel</h2>
        </div>
    </section>
</main>