<main class="marmol ffijado linea">
    <section class="cabecera">
        <h1 class="titulo_gold">Equipo de desarrollo</h1>
    </section>
    <section class="autores">
        <div class="autor">
            <h2>Héctor González</h2>
            <p>Desarrollo del juego y gestión de la base de datos</p>
        </div>
        <div class="autor">
            <h2>Anjie Chen</h2>
            <p>Creación de la página web</p>
        </div>
        <div class="autor">
            <h2>Ivan Muriel</h2>
            <p>Desarrollo del juego</p>
        </div>
    </section>
</main>